{% extends 'base.html.twig' %}

{% block title %}Login Page{% endblock %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="w-full h-full flex justify-center items-start mt-[10vh] ">
        <form class="flex flex-col px-6 border border-black rounded-lg" action="{{ path('app_login') }}" method="post">
            <label for="username">Email: </label>
            <input type="text" id="username" name="_username" value="{{ last_username}}">

            <label for="password">Password: </label>
            <input type="password" id="password" name="_password">

            <input type="hidden" name="_target_path" value="/quacks">
            <button class="bg-gray-500 hover:bg-gray-700 text-white font-bold py-2 px-4 rounded w-fit m-auto mt-2 mb-2" type="submit">Login</button>
        </form>
    </div>

{% endblock %}
