{% block nav %}
    <div class="h-[10vh] flex justify-between flex-nowrap bg-white items-center" >
        <h2 class="block w-fit px-4">DUCK&DUCK</h2>
            <ul class="flex justify-around flex-nowrap w-2/4 items-center">
                <li><a href="{{ path('index') }}">Home</a></li>
                <li><a href="{{ path('app_profile_profileboard') }}">My Profile</a></li>
                <li><a href="{{ path('app_duck_login') }}">Login</a></li>
                <li><a href="{{ path('app_duck_logout') }}">Logout</a></li>
            </ul>
    </div>
{% endblock %}